doctype html
html
  head
    title= title || 'Library Catalog App'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
.flex-container 
  .grid-container
    .header
      h1
        a(href='/') Treehouse County Library 
    .main
        block content
    .footer

